Source: ros-melodic-sentor
Section: misc
Priority: optional
Maintainer: Francesco Del Duchetto <fdelduchetto@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-rospy, ros-melodic-rostopic
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-sentor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-rospy, ros-melodic-rostopic
Description: The sentor package, to check that sensor messages get published
